version: "3"

services:
  cockroachdb:
    container_name: vvc-cdb
    image: cockroachdb/cockroach:v22.2.1
    ports:
      - "26257:26257"
    command: start-single-node --insecure
    volumes:
      - "./.cockroach-data:/cockroach/cockroach-data"
