name: Deploy
on:
  push:
    branches:
      - dev
      - feat/fe-deploy

env:
  TF_VERSION: 1.3.3
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: actions/cache@v3
        name: Cache yarn
        with:
          path: ./.yarn/cache
          key: ${{ runner.os }}-yarn

      - name: Install dependencies
        run: yarn

      - name: Build frontend
        run: make frontend-build

      - name: Build backend
        run: make backend-build

      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.TFC_TOKEN }}

      - name: Init terraform
        run: make tf-init

      - name: Deploy infra and backend
        run: make tf-apply

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: AKIARPNKKEIOBRA6KVOH
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
          aws-region: ca-central-1

      - name: Deploy frontend
        run: make frontend-deploy
