name: Pull Request (Backend)
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "packages/backend/**"
  workflow_dispatch:

jobs:
  check-and-test:
    name: Checks and tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: Checkout

      - uses: actions/cache@v3
        name: Cache yarn
        with:
          path: ./.yarn/cache
          key: ${{ runner.os }}-yarn

      - name: Install dependencies
        run: yarn

      - name: Check API schema
        run: |
          mv packages/frontend/src/api packages/frontend/src/__api
          make api-client-generate
          yarn format
          cd packages/frontend/src
          diff -r api __api

      - name: Dummy AWS credentials for localstack
        run: |
          aws configure set region ca-central-1 
          aws configure set aws_access_key_id test
          aws configure set aws_secret_access_key test

      - name: Run e2e tests
        run: make backend-test
